<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head-fragment (pageTitle='About Us')}">
    <meta charset="UTF-8">
    <title>Loading...</title>
</head>

<body>

<header th:replace="~{layout :: header-fragment}"></header>
<nav th:replace="~{layout :: navbar-fragment}"></nav>

<main>
    <h2>About DIDO Creative Studio</h2>
    <p>This is the About Us page.</p>
    <p>You, Aldie, and your 2 friends founded this company in July 2024. This page will tell your story.</p>
</main>

<footer th:replace="~{layout :: footer-fragment}"></footer>

</body>
</html>