<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head-fragment (pageTitle='About Us')}"></head>

<body>
<div class="mil-wrapper" id="top">

    <div th:replace="~{layout :: cursor-fragment}"></div>
    <div th:replace="~{layout :: preloader-fragment}"></div>
    <div th:replace="~{layout :: progress-track-fragment}"></div>
    <div th:replace="~{layout :: menu-fragment}"></div>
    <div th:replace="~{layout :: curtain-fragment}"></div>
    <div th:replace="~{layout :: frame-fragment}"></div>

    <div class="mil-content">
        <div id="swupMain" class="mil-main-transition">

            <div class="mil-inner-banner">
                <div class="mil-banner-content mil-up">
                    <div class="mil-animation-frame">
                        <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                    </div>
                    <div class="container">
                        <ul class="mil-breadcrumbs mil-mb-60">
                            <li><a th:href="@{/}">Homepage</a></li>
                            <li><a th:href="@{/about}">About Us</a></li> </ul>
                        <h1 class="mil-mb-60">Meet <span class="mil-thin">Our</span><br> Creative <span class="mil-thin">Team</span></h1>
                        <a href="#team" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                            <span>Our team</span>
                        </a>
                    </div>
                </div>
            </div>
            <section id="team">
                <div class="container mil-p-120-90">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3">

                            <div class="mil-team-card mil-up mil-mb-30">
                                <img th:src="@{/img/faces/1.jpg}" alt="Team member"> <div class="mil-description">
                                <div class="mil-secrc-text">
                                    <h5 class="mil-muted mil-mb-5"><a href="#.">Anna Oldman</a></h5> <p class="mil-link mil-light-soft mil-mb-10">Art Director</p>
                                    <ul class="mil-social-icons mil-center">
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-behance"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">

                            <div class="mil-team-card mil-up mil-mb-30">
                                <img th:src="@{/img/faces/3.jpg}" alt="Team member"> <div class="mil-description">
                                <div class="mil-secrc-text">
                                    <h5 class="mil-muted mil-mb-5"><a href="#.">Oscar Freeman</a></h5>
                                    <p class="mil-link mil-light-soft mil-mb-10">Frontend Dev</p>
                                    <ul class="mil-social-icons mil-center">
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-behance"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">

                            <div class="mil-team-card mil-up mil-mb-30">
                                <img th:src="@{/img/faces/2.jpg}" alt="Team member"> <div class="mil-description">
                                <div class="mil-secrc-text">
                                    <h5 class="mil-muted mil-mb-5"><a href="#.">Emma Newman</a></h5>
                                    <p class="mil-link mil-light-soft mil-mb-10">Founder</p>
                                    <ul class="mil-social-icons mil-center">
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-behance"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">

                            <div class="mil-team-card mil-up mil-mb-30">
                                <img th:src="@{/img/faces/4.jpg}" alt="Team member"> <div class="mil-description">
                                <div class="mil-secrc-text">
                                    <h5 class="mil-muted mil-mb-5"><a href="#.">Lisa Trueman</a></h5>
                                    <p class="mil-link mil-light-soft mil-mb-10">UI/UX Designer</p>
                                    <ul class="mil-social-icons mil-center">
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-behance"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            </div>

                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3">

                            <div class="mil-team-card mil-up mil-mb-30">
                                <img th:src="@{/img/faces/5.jpg}" alt="Team member"> <div class="mil-description">
                                <div class="mil-secrc-text">
                                    <h5 class="mil-muted mil-mb-5"><a href="#.">Tom Oldman</a></h5>
                                    <p class="mil-link mil-light-soft mil-mb-10">Art Director</p>
                                    <ul class="mil-social-icons mil-center">
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-behance"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-github"></i></a></li>
                                    </ul>
                                </div>
                                CSS
                            </div>

                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">

                                <div class="mil-team-card mil-up mil-mb-30">
                                    <img th:src="@{/img/faces/6.jpg}" alt="Team member"> <div class="mil-description">
                                    <div class="mil-secrc-text">
                                        <h5 class="mil-muted mil-mb-5"><a href="#.">Corey Trueman</a></h5>
                                        <p class="mil-link mil-light-soft mil-mb-10">Art Director</p>
                                        <ul class="mil-social-icons mil-center">
                                            <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-behance"></i></a></li>
                                            <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-dribbble"></i></a></li>
                                            <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                </div>

                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">

                                <div class="mil-team-card mil-up mil-mb-30">
                                    <img th:src="@{/img/faces/7.jpg}" alt="Team member"> <div class="mil-description">
                                    <div class="mil-secrc-text">
                                        <h5 class="mil-muted mil-mb-5"><a href="#.">Justin Newman</a></h5>
                                        <p class="mil-link mil-light-soft mil-mb-10">Art Director</p>
                                        <ul class="mil-social-icons mil-center">
                                            <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-behance"></i></a></li>
                                            <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-dribbble"></i></a></li>
                                            <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#." target="_blank" class="social-icon"> <i class="fab fa-github"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                </div>

                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3">

                                <div class="mil-team-card mil-up mil-mb-30">
                                    <img th:src="@{/img/faces/8.jpg}" alt="Team member"> <div class="mil-description">
                                    <div class="mil-secrc-text">
                                        <h5 class="mil-muted mil-mb-5"><a href="#.">Spunkie</a></h5>
                                        <p class="mil-link mil-light-soft mil-mb-10">Paw giver</p>
                                        <ul class="mil-social-icons mil-center">
                                            <li><a href="#." target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#." target="_blank" class="social-icon"><i class="fab fa-tiktok"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                </div>

                            </div>
                        </div>
                    </div>
            </section>
            <section class="mil-soft-bg">
                <div class="container mil-p-120-120">
                    <div class="row">
                        <div class="col-lg-10">
                            <span class="mil-suptitle mil-suptitle-right mil-suptitle-dark mil-up">Looking to make your mark? We'll help you turn <br> your project into a success story.</span>
                        </div>
                    </div>
                    <div class="mil-center">
                        <h2 class="mil-up mil-mb-60">Ready to bring your <span class="mil-thin">ideas to</span> life? <br> We're <span class="mil-thin">here to help</span></h2>
                        <div class="mil-up"><a th:href="@{/contact}" class="mil-button mil-arrow-place"><span>Contact us</span></a></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div th:replace="~{layout :: footer-fragment}"></div>

</div>
<div th:replace="~{layout :: scripts-fragment}"></div>

</body>
</html>