<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head-fragment (pageTitle='Home')}"></head>

<body>
<div class="mil-wrapper" id="top">

    <div th:replace="~{layout :: cursor-fragment}"></div>
    <div th:replace="~{layout :: preloader-fragment}"></div>
    <div th:replace="~{layout :: progress-track-fragment}"></div>
    <div th:replace="~{layout :: menu-fragment}"></div>
    <div th:replace="~{layout :: curtain-fragment}"></div>
    <div th:replace="~{layout :: frame-fragment}"></div>

    <div class="mil-content">
        <div id="swupMain" class="mil-main-transition">

            <section class="mil-banner mil-dark-bg">

                <div class="mil-invert-fix">

                    <div class="mil-animation-frame">
                        <div class="mil-animation mil-position-1 mil-scale" data-value-1="7" data-value-2="1.6"></div>
                        <div class="mil-animation mil-position-2 mil-scale" data-value-1="4" data-value-2="1"></div>
                        <div class="mil-animation mil-position-3 mil-scale" data-value-1="1.2" data-value-2=".1"></div>
                    </div>

                    <div class="container">
                        <div class="mil-banner-content mil-up">
                            <h1 class="mil-muted mil-mb-60">Pioneering <span class="mil-thin">Creative</span><br> Excellence</h1>
                            <div class="mil-arrow-place mil-down-arrow">
                                <a href="#about" class="mil-link mil-muted mil-arrow-down"><span>Scroll down</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="about">
                <div class="container mil-p-120-120">
                    <h2 class="mil-up">About Section</h2>
                    <p class="mil-up">Your content about DIDO Creative Studio goes here.</p>
                </div>
            </section>
        </div>
    </div>

    <div th:replace="~{layout :: footer-fragment}"></div>

</div>
<div th:replace="~{layout :: scripts-fragment}"></div>

</body>
</html>