<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head-fragment (pageTitle='Portfolio')}">
    <meta charset="UTF-8">
    <title>Loading...</title>
</head>

<body>

<header th:replace="~{layout :: header-fragment}"></header>
<nav th:replace="~{layout :: navbar-fragment}"></nav>

<main>
    <h2>Portfolio of DIDO Creative Studio</h2>
    <p>This is the Portfolio page.</p>
</main>

<footer th:replace="~{layout :: footer-fragment}"></footer>

</body>
</html>