<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head-fragment (pageTitle='Service Detail')}"></head>

<body>
<div class="mil-wrapper" id="top">

    <div th:replace="~{layout :: cursor-fragment}"></div>
    <div th:replace="~{layout :: preloader-fragment}"></div>
    <div th:replace="~{layout :: progress-track-fragment}"></div>
    <div th:replace="~{layout :: menu-fragment}"></div>
    <div th:replace="~{layout :: curtain-fragment}"></div>
    <div th:replace="~{layout :: frame-fragment}"></div>

    <div class="mil-content">
        <div id="swupMain" class="mil-main-transition">

            <div class="mil-inner-banner">
                <div class="mil-animation-frame">
                    <div class="mil-animation mil-position-4 mil-dark mil-scale" data-value-1="6" data-value-2="1.4"></div>
                </div>
                <div class="mil-banner-content mil-up">
                    <div class="container">
                        <ul class="mil-breadcrumbs mil-mb-60">
                            <li><a th:href="@{/}">Homepage</a></li>
                            <li><a th:href="@{/services}">Services</a></li>
                            <li><a th:href="@{/service}">Service</a></li>
                        </ul>
                        <h1 class="mil-mb-60">Website <span class="mil-thin">Design</span><br> and <span class="mil-thin">Development</span></h1>
                        <a href="#service" class="mil-link mil-dark mil-arrow-place mil-down-arrow">
                            <span>About service</span>
                        </a>
                    </div>
                </div>
            </div>
            <section id="service">
                <div class="container mil-p-120-90">
                    <div class="row justify-content-between">
                        <div class="col-lg-4 mil-relative mil-mb-90">
                            <h4 class="mil-up mil-mb-30">Your <span class="mil-thin">Approach</span> <br>and <span class="mil-thin">Work Specifics</span></h4>
                            <p class="mil-up mil-mb-30">At our agency, we have a unique approach to web design and development. We believe in creating websites that not only look great but also perform well in terms of user experience, functionality, and search engine optimization.</p>
                            <div class="mil-up">
                                <a th:href="@{/portfolio}" class="mil-link mil-dark mil-arrow-place">
                                    <span>View works</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mil-accordion-group mil-up">...</div>
                            <div class="mil-accordion-group mil-up">...</div>
                            <div class="mil-accordion-group mil-up">...</div>
                            <div class="mil-accordion-group mil-up">...</div>
                            <div class="mil-accordion-group mil-up">...</div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="mil-dark-bg">
                <div class="mi-invert-fix">
                    <div class="container mil-p-120-120">
                        <div class="mil-center">
                            <h2 class="mil-muted mil-up mil-mb-30">Reasonable <span class="mil-thin">prices</span> <br>for innovative <span class="mil-thin">solutions</span></h2>
                            <p class="mil-light-soft mil-up mil-mb-120">At our agency, we have a unique approach to web design and development. <br>We believe in creating in terms of user experience, functionality.</p>
                        </div>

                        <a th:href="@{/contact}" class="mil-price-card mil-choose mil-accent-cursor mil-up">...</a>
                        <a th:href="@{/contact}" class="mil-price-card mil-choose mil-accent-cursor mil-up">...</a>
                        <a th:href="@{/contact}" class="mil-price-card mil-choose mil-accent-cursor mil-up">...</a>
                        <a th:href="@{/contact}" class="mil-price-card mil-choose mil-accent-cursor mil-up mil-mb-60">...</a>

                        <div class="mil-center">
                            <a th:href="@{/contact}" class="mil-button  mil-arrow-place">
                                <span>individual solution</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container mil-p-120-90">
                    <div class="row align-items-center mil-mb-30">
                        <div class="col-lg-6 mil-mb-30">
                            <h3 class="mil-up">Other services</h3>
                        </div>
                        <div class="col-lg-6 mil-mb-30">
                            <div class="mil-adaptive-right mil-up">
                                <a th:href="@{/services}" class="mil-link mil-dark mil-arrow-place">
                                    <span>View all</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <a th:href="@{/service}" class="mil-service-card-lg mil-other-card mil-more mil-mb-30">...</a>
                        </div>
                        <div class="col-lg-4">
                            <a th:href="@{/service}" class="mil-service-card-lg mil-other-card mil-more mil-mb-30">...</a>
                        </div>
                        <div class="col-lg-4">
                            <a th:href="@{/service}" class="mil-service-card-lg mil-other-card mil-more mil-mb-30">...</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div th:replace="~{layout :: footer-fragment}"></div>

</div>
<div th:replace="~{layout :: scripts-fragment}"></div>

</body>
</html>